* {
    font-family: Arial, Helvetica, sans-serif;
}

.all-content {
    display: flex;
    gap: 10px;
}

.image {
    width: 600px;
    height: 840px;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

