* {
    font-family: Arial, Helvetica, sans-serif;
}

.all-content {
    display: flex;
    gap: 10px;
}

.image {
    width: 600px;
    height: 840px;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-flex {
    display: flex;
    flex-direction: column;
}


.middle-content {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


input[type="text"] {
    width: 250px; /* set a fixed width for the input field */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
}

input[type="email"] {
    width: 250px; /* set a fixed width for the input field */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
}

input[type="tel"] {
    width: 250px; /* set a fixed width for the input field */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
}

input[type="password"] {
    width: 250px; /* set a fixed width for the input field */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
}